[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=image_to_palette
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Image to Palette
Comment=Extracts color palettes from images.
